
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error, .loading, .success{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width:1200px;
  max-height: 1000px;
  width: 100%;
  height: 70vh;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(4, 200, 226);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

.resetBtn{
  z-index: 10;
  transform: translateX(-50%);
  padding: 0.5rem;
  border: solid #3399ff;
  border-radius: 10px;
  background-color: white;
}
.resetBtn:hover{
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #99ccff;
}

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
